# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Assignment4_Temirzhanov_Meiram_Sopy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
